.inputbox{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60px;
    gap: 10px;
}
input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding-left: 20px;
}
.Contenaire_principal{
    display: flex;
}
.contenaire1{
    width: 50%;
    height: 500px;
    background-color:lightblue ;
    overflow: hidden;
    border-radius: 30px;
}
.contenaire2{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouttonbox{
    margin-top: 5%;
    height: 30px;
    width: 100%;

display: flex;
justify-content: center;
}
button{
    border-radius: 20px;

}
#message{
    margin-top: 140px;
    height: 250PX;
    width: 100%;
    background-color: blueviolet;
}
.contenaire1 img{
    height: 100%;
    width: 100%;
}